<section class="section1">
    <div class="banner">
    المناقصات
</div>
</section>








<section class="section4">
<div class="red-line">الكلمة</div>


    <div class="breadcrumb">
  <a >الرئيسية</a>
  <span class="arrow">&gt;</span>
  <a  class="active">المناقصات</a>
</div>


 <div class="hero2">
  <div class="text px-7 py-6">
    <h1>اكتشف أحدث المناقصات</h1>
    <p>استكشف مجموعة مختارة من أحدث المناقصات المصممة لربحك بفرص مميزة.</p>
  </div>

  <div class="actions2 ">
    <button class="btn primary2">المناقصات النشطة</button>
    <button class="btn outline2">المناقصات السابقة</button>
  </div>
</div>




<div class="cards">





<div class="tender-card">
  <div class="card-header"> 
    <span class="label">رقم المناقصة:</span>
    <span class="number">56232</span>
    <span class="icon">🔨</span>
  </div>

  <img class="card-img" src="/images/come1.png" alt="صورة المناقصة">

  <div class="card-body">
    <h3 class="title">تأجير المعدات</h3>
    <p class="desc">
      دعوة لتقديم مناقصة مفتوحة لتأجير المعدات الثقيلة<br>
      لمشاريع البناء
    </p>

    <div class="actions">
      <button class="btn primary">التسجيل في المناقصة</button>
      <button class="btn outline">عرض تفاصيل المناقصة</button>
    </div>
  </div>
</div>

<div class="tender-card">
  <div class="card-header">
    <span class="label">رقم المناقصة:</span>
    <span class="number">56232</span>
    <span class="icon">🔨</span>
  </div>

  <img class="card-img" src="/images/come2.png" alt="صورة المناقصة">

  <div class="card-body">
    <h3 class="title">تأجير المعدات</h3>
    <p class="desc">
      دعوة لتقديم مناقصة مفتوحة لتأجير المعدات الثقيلة<br>
      لمشاريع البناء
    </p>

    <div class="actions">
      <button class="btn primary">التسجيل في المناقصة</button>
      <button class="btn outline">عرض تفاصيل المناقصة</button>
    </div>
  </div>
</div>

<div class="tender-card">
  <div class="card-header">
    <span class="label">رقم المناقصة:</span>
    <span class="number">56232</span>
    <span class="icon">🔨</span>
  </div>

  <img class="card-img" src="/images/come3.png" alt="صورة المناقصة">

  <div class="card-body">
    <h3 class="title">تأجير المعدات</h3>
    <p class="desc">
      دعوة لتقديم مناقصة مفتوحة لتأجير المعدات الثقيلة<br>
      لمشاريع البناء
    </p>

    <div class="actions">
      <button class="btn primary">التسجيل في المناقصة</button>
      <button class="btn outline">عرض تفاصيل المناقصة</button>
    </div>
  </div>
</div>

<div class="tender-card">
  <div class="card-header">
    <span class="label">رقم المناقصة:</span>
    <span class="number">56232</span>
    <span class="icon">🔨</span>
  </div>

  <img class="card-img" src="/images/come2.png" alt="صورة المناقصة">

  <div class="card-body">
    <h3 class="title">تأجير المعدات</h3>
    <p class="desc">
      دعوة لتقديم مناقصة مفتوحة لتأجير المعدات الثقيلة<br>
      لمشاريع البناء
    </p>

    <div class="actions">
      <button class="btn primary">التسجيل في المناقصة</button>
      <button class="btn outline">عرض تفاصيل المناقصة</button>
    </div>
  </div>
</div>

<div class="tender-card">
  <div class="card-header">
    <span class="label">رقم المناقصة:</span>
    <span class="number">56232</span>
    <span class="icon">🔨</span>
  </div>

  <img class="card-img" src="/images/come3.png" alt="صورة المناقصة">

  <div class="card-body">
    <h3 class="title">تأجير المعدات</h3>
    <p class="desc">
      دعوة لتقديم مناقصة مفتوحة لتأجير المعدات الثقيلة<br>
      لمشاريع البناء
    </p>

    <div class="actions">
      <button class="btn primary">التسجيل في المناقصة</button>
      <button class="btn outline">عرض تفاصيل المناقصة</button>
    </div>
  </div>
</div>

<div class="tender-card">
  <div class="card-header">
    <span class="label">رقم المناقصة:</span>
    <span class="number">56232</span>
    <span class="icon">🔨</span>
  </div>

  <img class="card-img" src="/images/come1.png" alt="صورة المناقصة">

  <div class="card-body">
    <h3 class="title">تأجير المعدات</h3>
    <p class="desc">
      دعوة لتقديم مناقصة مفتوحة لتأجير المعدات الثقيلة<br>
      لمشاريع البناء
    </p>

    <div class="actions">
      <button class="btn primary">التسجيل في المناقصة</button>
      <button class="btn outline">عرض تفاصيل المناقصة</button>
    </div>
  </div>
</div>





</div>



<div class="paginator-center">
    <p-paginator 
        (onPageChange)="onPageChange($event)" 
        [first]="first" 
        [rows]="rows" 
        [totalRecords]="120" 
        [rowsPerPageOptions]="[10, 20, 30]" 
        styleClass="custom-paginator">
    </p-paginator>
</div>



</section>





