<!-- <footer class="bg-gray-200 py-10">
  <div class="w-11/12 mx-auto">
    <h2 class="m-0 text-2xl">
       footer.Get The FreshCart App 
    </h2>
    <p class="text-gray-500 text-sm">
      {{
        "footer.We Will Send You a Link, Open it on Your Phone to download the app"
          
      }}
    </p>

    <div class="flex items-center gap-3 text-nowrap">
      <input
        type="text"
        class="w-full rounded-lg border-gray-300"
        placeholder="Email"
      />
      <button class="btn-main">
        footer.Share App Link
      </button>
    </div>
    <hr />
    <div class="pay-details md:flex justify-between items-center my-5">
      <div class="flex items-center gap-2">
        <h3 class="text-sm m-0">footer.Payment partners</h3>
        <img src="/images/amazon-pay.png" width="50px" alt="" />
        <img src="/images/American-Express-Color.png" width="50px" alt="" />
        <img src="/images/paypal.png" width="50px" alt="" />
        <img src="/images/mastercard.webp" width="50px" alt="" />
      </div>
      <div class="flex items-center gap-2">
        <h3 class="h6 m-0">
          footer.Get Deliveries with FreshCart
        </h3>
        <img src="/images/get-google-play.png" width="100px" alt="" />
        <img src="/images/get-apple-store.png" width="100px" alt="" />
      </div>
    </div>
  </div>
</footer>  
 -->



<footer class="footer">

  <div class="footer-container">

    <!-- القسم الأيسر في الصورة (سيظهر يمين لأن RTL) -->
    <div class="footer-contact">
      <p class="footer-note">هل تحتاج إلى مساعدة؟ نحن هنا لأجلك</p>

      <h3 class="footer-title">معلومات الاتصال</h3>

      <ul class="contact-list">
        <li><span class="icon">📞</span> +1012 3456 789</li>
        <li><span class="icon">✉️</span> demo&#64;gmail.com</li>
        <li><span class="icon">📍</span> 
          خليج البحرين، أبراج اللؤلؤ، الطابق الثاني – المكتب الجانبي الأيمن<br>
          تسليم المعاملات صندوق بريد: 18686 المنامة مملكة البحرين
        </li>
      </ul>
    </div>
      
    <!-- الخط الفاصل -->
    <div class="divider"></div>

    <!-- القسم الأيمن في الصورة (سيظهر يسار لأن RTL) -->
    <div class="footer-info">

      <div class="footer-logos">
        <img src="/images/pppp footer.svg.png" alt="logo 1">
        <img src="/images/footer-logo.svg.png" class="src"  alt="logo 2">
      </div>

      <h3 class="footer-title">اطلب المزيد من المعلومات</h3>

      <p class="footer-desc">
حول منصتنا الرائعة للحصول على فرصة لإدارة وتتبع وتبسيط جميع أنشطة العطاءات الخاصة بك في مكان واحد.      </p>

    </div>

  </div>

  <!-- الجزء السفلي من الفوتر -->




  <div class="footer-bottom">

  <!-- 1) الصورة أول شيء -->
  <div class="footer-logo">
    <img src="/images/Klavis.svg.png" alt="Klavis">
  </div>

  <!-- 2) الكلمات في المنتصف -->
  <ul class="footer-links">
    <li>الرئيسية</li>
    <li>الخدمات</li>
    <li>المناقصات</li>
    <li>معلومات عنا</li>
  </ul>

  <!-- 3) الأيقونات في النهاية -->
  <div class="footer-social">
   <span><i class="fa-brands fa-linkedin"></i></span>
<span><i class="fa-brands fa-facebook"></i></span>
<span><i class="fa-brands fa-instagram"></i></span>
<span><i class="fa-brands fa-youtube"></i></span>

   
  </div>

</div>




</footer>
