

@tailwind base;
@tailwind components;
@tailwind utilities;
// @use 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
// @use 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';


@import url('ngx-owl-carousel-o/lib/styles/scss/owl.carousel.css');
@import url('ngx-owl-carousel-o/lib/styles/scss/owl.theme.default.css');


