<section class="section1">
    <div class="banner">
 اتصل بنا
</div>
</section>






<section class="section2">


    <div class="breadcrumb">
  <a >الرئيسية</a>
  <span class="arrow">&gt;</span>
  <a  class="active">اتصل بنا</a>
</div>




<div class="contact-container">

  <div class="contact-box">
    <div class="icon-circle">
      <i class="pi pi-globe"></i>
    </div>
    <div class="content">
      <h3>مجلس المناقصات والمزايدات</h3>
      <p>خليج البحرين – أركايا</p>
      <p>الطابق الثاني – المكتب</p>
      <p>الطابق الأرضي – تسليم العطاءات</p>
      <p>صندوق بريد: 18686</p>
      <p>المنامة، مملكة البحرين</p>
    </div>
  </div>

  <div class="contact-box">
    <div class="icon-circle">
      <i class="pi pi-phone"></i>
    </div>
    <div class="content">
      <h3>أرقام التواصل</h3>
      <p>T: +973 1756 6666</p>
      <p>F: +973 1758 7855</p>
    </div>
  </div>

  <div class="contact-box">
    <div class="icon-circle">
      <i class="pi pi-envelope"></i>
    </div>
    <div class="content">
      <h3>عنوان البريد الإلكتروني</h3>
      <p>Info&#64;Tenderboard.Gov.Bh</p>
    </div>
  </div>

</div>







<div class="map-container" >
  <div  id="map"></div>
</div>



</section>
